

.review {
  border: 1px solid red;
  display: flex;
  margin: 1rem;
}

.impressions {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 0;
  
}

.title {

}