.beans-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: 25%;
  align-items: center;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  background-color: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color:rgba(79, 32, 1, 0.95);
  opacity: 80%;
  margin: 10px;
  transition: all .4s ease-in-out
}

.blog-card:hover {
  transform: scale(1.1);
}

.description {
  padding: 1rem;
  background-color: white;
  margin: 2rem;
}

.description h3 {
  font-family: 'Roboto Serif', serif;
}